.nav {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #7A8185;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.boxCenter {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.notice {
  padding-right: 12px;
}

.button {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #7A8185;
  background-color: unset;
  border: none;

  &:hover {
    cursor: pointer;
  }
}