$barColor: #062436;

.sidebar {
  background-color: $barColor;
  padding-top: 24px;
}

.logo {
  margin-bottom: 64px;
}

.list {
  & a {
    color:  #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
}

.link {
  height: 40px;
  border-left: 6px solid $barColor;
  display: flex;
  align-items: center;
  padding-right: 12px;
}

.img {
  margin-left: 14px;
  margin-right: 16px;
}

.selected {
  border-left-color: #3DBDF6;
}